<!DOCTYPE html>
<html>
    <head>
        <title>KMIT CADSC Project</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://kit.fontawesome.com/cd654cddba.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui sidebar inverted vertical menu">
            <a class="item" href="/">Home</a>
            <p class="item">Tasks</p>
            <a class="item" href="/tasks/epithelium-segmentation">Epithelium Segmentation</a>
        </div>
        <div class="pusher">