{% include 'partials/header.html' %}
<style>
    #maindiv {
        width: 100vw;
        height: 40vh;
        background: 
        linear-gradient(
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.5)
        ),
        /* Might want to edit this. Add your own cover image */
        url('https://www.researchgate.net/profile/Giancarlo_Fortino/publication/312178339/figure/fig1/AS:451349818155008@1484621590589/H-E-stained-histology-slide-showing-perinuclear-halo-and-chicken-wire-like-vasculature.png');
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center center;
    }
</style>
<div class="center-content" id="maindiv">
    <div class="med white top-left row">
        <a href="/"><img class="small-img" src="https://img.collegedekhocdn.com/media/img/institute/logo/1442139279.jpg" /></a>
        <button class="ui inverted button" id="menubtn">
            <i class="fas fa-bars"></i>
            Menu
        </button>
    </div>
    <!-- Might want to edit this -->
    <p class="heading white">Epithelium Segmentation</p>
</div>
<div class="ui container center-content content">
    <!-- Might want to edit this -->
    <p class="small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas sed sed risus pretium quam vulputate dignissim suspendisse. Proin nibh nisl condimentum id. Sit amet facilisis magna etiam tempor orci eu. Congue quisque egestas diam in arcu cursus. Nunc sed augue lacus viverra vitae congue eu consequat. Varius vel pharetra vel turpis nunc. Egestas congue quisque egestas diam in arcu cursus euismod quis. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Amet est placerat in egestas. Nunc faucibus a pellentesque sit amet porttitor eget. Tincidunt nunc pulvinar sapien et ligula. Fermentum leo vel orci porta non pulvinar. Quam lacus suspendisse faucibus interdum posuere lorem ipsum. Libero nunc consequat interdum varius sit.
        
        <img class="full-width small-margin" src="{{ url_for('static',filename='images/episeg/episeg1.png') }}"/> <br/>

        At elementum eu facilisis sed odio morbi quis. Nunc mattis enim ut tellus elementum sagittis vitae et leo. Nisl suscipit adipiscing bibendum est. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Pellentesque id nibh tortor id aliquet lectus proin nibh. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. In fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Bibendum enim facilisis gravida neque convallis. At erat pellentesque adipiscing commodo elit. Quis varius quam quisque id diam vel quam.

        <img class="full-width small-margin" src="{{ url_for('static',filename='images/episeg/episeg2.png') }}"/> <br/>
    </p>

    <!-- 
        Might want to edit this.
        Your task may require a different number of inputs.
        This can be changed here. The names given to inputs here are what you'll be retrieving in process_image in server.py.
    -->
    <p class="heading center-content">Test it out!</p>
    <p class="small">Select an input image and its respective annotated mask to see how the model performs against the existing annotation.</p>
    <form class="center-content" method="post" action="/process-image" enctype="multipart/form-data">
        <div class="field small-margin">
            <label class="med">Image: </label>
            <input type="file" name="image">
        </div>
        <input type="hidden" name="task" value="epithelium_segmentation">
        <input class="ui primary button small-margin" type="submit" value="Go!">
    </form>
</div>
{% include 'partials/footer.html' %}